<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script>
    function submitStatus() {
      var form = document.getElementById("statusForm");
      var statusDropdown = document.getElementById("adoptStatusDropdown");
      var selectedStatus = statusDropdown.options[statusDropdown.selectedIndex].value;
      form.action = "/manager?status=" + selectedStatus;
      form.submit();
    }

    function submitOwnerStatus() {
      var form = document.getElementById("ownerStatusForm");
      var ownerStatusDropdown = document.getElementById("registrationStatusDropdown");
      var ownerStatus = ownerStatusDropdown.options[ownerStatusDropdown.selectedIndex].value;
      form.action = "/manager?ownerStatus=" + ownerStatus;
      form.submit();
    }

  </script>
</head>

<body>
    <div id="ownerDropdown" class="sub-div">
      <form action="/manager" method="get" id="ownerStatusForm">
        <button type="button" onclick="submitOwnerStatus()" class="nav">List Owners by Status</button>
        <br />
        <select name="ownerStatus" id="registrationStatusDropdown" required>
          <option value="" disabled selected>--select--</option>
          <option value="submitted" text="submitted"> Submitted </option>
          <option value="declined" text="declined"> Declined </option>
          <option value="approved" text="approved"> Approved </option>
        </select>
      </form>
      <br />
      <p>Submitted - pending request that need approve or decline <br/>
        Declined - declined registration <br/>
        Approved - aprroved registration
      </p>
      <br /><br />
      <div id="filteredOwnerData" th:if="${ownerStatus}">
        <h5>Filtered PetOwner for <span th:text="${ownerStatus}"></span> </h5>
        <table border="1">
          <thead>
            <tr>
              <th>Owner First Name</th>
              <th>Owner Last Name</th>
              <th>Registration Status</th>
              <th th:if="${ownerStatus}==submitted">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="owner:${filteredOwner}">
              <td th:text="${owner.firstName}"></td>
              <td th:text="${owner.lastName}"></td>
              <td th:text="${owner.status}"></td>
              <td th:if="${owner.status == 'submitted'}">
                <form action="/approve-owner" method="post" id="approveOwnerForm">
                  <input type="hidden" name="ownerId" th:value="${owner.userId}" />
                  <div class="btn-group">
                    <span style="display: inline-block; margin-right: 5px;">
                      <button type="submit" name="ownerStatus" value="approved" class="btn btn-primary btn-sm">Approve</button>
                    </span>
                    <span style="display: inline-block;">
                      <button type="submit" name="ownerStatus" value="declined" class="btn btn-secondary btn-sm">Decline</button>
                    </span>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Display filtered pets based on the status -->
    <div id="statusDropdown" class="sub-div">
      <form action="/manager" method="get" id="statusForm">
        <button type="button" onclick="submitStatus()" class="nav">List Pets by Status</button>
        <br />
        <select name="status" id="adoptStatusDropdown" required>
          <option value="" disabled selected>--select--</option>
          <option value="pending" text="pending"> Pending </option>
          <option value="waiting" text="waiting"> Waiting </option>
          <option value="adopted" text="adopted"> Adopted </option>
        </select>
      </form>
      <br />
      <p>Pending - adopt reqeust pending and need approve or decline <br/>
        Adopted - pets adopted by owner <br />
        Waiting - pets are waiting for new owner
      </p>

      <br /><br />
      <div id="filteredData" th:if="${status}">
        <h5>Filtered Pets for <span th:text="${status}"></span> </h5>
        <table border="1">
          <thead>
            <tr>
              <th>Pet Name</th>
              <th>Pet Species</th>
              <th>Pet Color</th>
              <th>Pet Size</td>
              <th>Adopt Status</th>
              <th>Manage By</th>
              <th th:if="${status}==pending">Owner's name</th>
              <th th:if="${status}==pending">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="pet:${filteredPets}">
              <td th:text="${pet.petName}"></td>
              <td th:text="${pet.petSpecies}"></td>
              <td th:text="${pet.petColor}"></td>
              <td th:text="${pet.petSize}"></td>
              <td th:text="${pet.adoptStatus}"></td>
              <td th:text="${pet.employee.lastName}"></td>
              <td th:if="${pet.adoptStatus}==pending">
                  <p h:text="${pet.owner.lastName}, ${pet.owner.lastName}"></p>
              </td>
              <td th:if="${pet.adoptStatus == 'pending'}">
                  <input type="hidden" name="petId" th:value="${pet.petId}" />
                  <div class="btn-group">
                    <span style="display: inline-block; margin-right: 5px;">
                      <a th:href="'mailto:'+ 'wour.3@msn.com'" class="btn btn-primary btn-sm">Approve</a>
                    </span>
                    <span style="display: inline-block;">
                      <a th:href="'mailto:'+ 'wour.3@msn.com'" class="btn btn-secondary btn-sm">Decline</a>
                    </span>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


</body>

</html>